*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

.container1 {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1589100534833-475e31a17b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size: 200px;
  animation: move 1000s 1;
  animation-timing-function: linear;
}
.container1 h2 {
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100vh;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  mix-blend-mode: screen;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20000px 0px;
  }
}
.container2 {
  position: relative;
  background: url("https://s.yimg.com/ob/image/c192c8b6-aa3d-42ae-bd68-00e41b599c87.jpg");
  animation: 2s ease-in alternate infinite carousel;
}
.container2 h2 {
  text-align: center;
  vertical-align: center;
  line-height: 300px;
  font-size: 100px;
  background-color: white;
  mix-blend-mode: screen;
}
.container2 h2::before {
  content: "";
  height: 250px;
  display: block;
  background: darkmagenta;
}
.container2 h2::after {
  content: "";
  height: 250px;
  display: block;
  background: turquoise;
}
.container2 .push {
  position: absolute;
  left: -300px;
  top: 50%;
  bottom: 50%;
}
@keyframes carousel {
  1% {
    transform: translate(0px);
    background-position-x: 0px;
  }
  50% {
    transform: translate(100px);
    background-position-x: 100px;
  }
  100% {
    transform: translate(200px);
    background-position-x: 200px;
  }
}

.container4 {
  background: url("https://cdn.pixabay.com/photo/2016/11/19/09/46/ocean-1838340_1280.jpg") center/150vh;
  animation: textclip 30s linear infinite;
  animation-timing-function: linear;
}
.container4 h2 {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 100vh;
  font-size: 10rem;
  font-weight: bold;
  color: black;
  background: white;
  mix-blend-mode: screen;
  font-family: "Noto Sans TC", sans-serif;
}

@keyframes textclip {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 600px 0px;
  }
}
.container5 {
  background: url("https://cdn.pixabay.com/photo/2016/11/29/05/01/beach-1867436_960_720.jpg");
  background-size: auto 450px;
  animation: horizontal-shift 4s ease-out infinite alternate;
  position: relative;
  text-align: center;
}
.container5 h2 {
  position: absolute;
  inset: 0 0 0 0;
  background: white;
  mix-blend-mode: screen;
  vertical-align: middle;
  font-size: 250px;
  line-height: 100vh;
}

@keyframes horizontal-shift {
  from {
    background-position: center 95%;
  }
  to {
    background-position: center -5%;
  }
}
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

section {
  height: 100vh;
  width: 100%;
}

section {
  margin-bottom: 3px;
  outline: 3px solid rgb(88, 74, 77);
}

/*# sourceMappingURL=style.css.map */
