@use "../base/breakpoint";
@use "../base/reset";

.container2 {
    position: relative;
    background: url("https://s.yimg.com/ob/image/c192c8b6-aa3d-42ae-bd68-00e41b599c87.jpg");

    h2{
        text-align: center;
        vertical-align: center;
        line-height: 300px;
        font-size: 100px;
        background-color: white;
        
        mix-blend-mode: screen;
        
        &::before{
            content: "";
            height:250px;
            display: block;
            background: darkmagenta;
        }
        &::after{
            content: "";
            height:250px;
            display: block;
            background: turquoise;
            // opacity: .;
        }
    }

    .push{
        position: absolute;
        left: -300px;
        top:50%;
        bottom: 50%;
    }

    animation: 2s ease-in alternate infinite carousel;
    @keyframes  carousel {
        1%{
            transform: translate(0px);
            background-position-x: 0px;
        }
        50%{
            transform: translate(100px);
            background-position-x: 100px;

        }

        100%{
            transform: translate(200px);
            background-position-x: 200px;

        }
        
    }
}